body {
	background-image: url("stars.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a {
	text-decoration: none;
	font-size: 15px;
	color: white;
	font-family: "Courier New";
}

a:hover {
	color: #756AF4;
}

#navbar {
	margin-left: 40%;
	margin-top: 10px;
	text-align: center;
}

.header_bio {
	margin-top: 5%;
}

.button {
	width: 100px;
	height: 50px;
	line-height: 50px;
	background-color: rgba(255,255,255,.2);
	border-style: solid;
	border-width: 2px;
	border-color: rgba(77,130,122,.7);
	border-radius: 5px 15px;
	padding: 1px;
	margin-left: 3%;
	text-align: center;
	font-size: 25px;
	float: left;
}

#textbox {
	margin-top: 13%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding-left: 1%;
	padding-right: 1%;
}

#textbox_bio {
	width: 60%;
	height: 500px;
	overflow: auto;
	background-color: rgba(255,255,255,.2);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border-radius: 15px;
	padding-left: 1%;
	padding-right: 1%;
}

.subheader {
	font-family: "Impact", Times, serif;
	color: white;
	text-align: center;
	margin-top: -20px;
}

#resume_box {
	width: 90%;
	height: 500px;
	overflow: auto;
	background-color: rgba(255,255,255,.2);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border-radius: 15px;
	padding-left: 1%;
	padding-right: 1%;
	color: white;
	font-size: 110%;
}

.header, .header_bio {
	font-size: 300%;
	font-family: "Impact", Times, serif;
	color: white;
	text-align: center;
}

p {
	color: white;
	font-family: "Courier", Times, serif;
	font-size: 25px;
}

#caution {
	color:red;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

.details {
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
}